<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">
<head>
    <title th:text="${titulo}"></title>
</head>
<main layout:fragment="content">
    <h1 class="text-6xl text-white mb-2">Bienvenidos a Tec-Fix</h1>

    <section class="my-16 text-white">
        <h2 class="text-white text-5xl">Productos y Servicios</h2>

        <a th:href="@{/products/create}"
           class="block w-full text-center bg-green-500 hover:bg-green-600 text-white font-bold py-3 mt-6 rounded-lg transition">
            Crea un producto o servicio
        </a>
        <a th:href="@{/products/favoritos}"
           class="block w-full text-center bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-3 mt-6 rounded-lg transition">
            Ver mis favoritos
        </a>


        <div class="relative overflow-x-auto mt-6">
            <table id="productosTabla" class="display w-full text-sm text-left rtl:text-right text-gray-900 bg-gray-100">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Descripción
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Precio
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}"
                    class="bg-white border-b border-gray-200">
                    <td th:text="${producto.id}" class="px-6 py-4"></td>
                    <td th:text="${producto.nombre}" class="px-6 py-4"></td>
                    <td th:text="${producto.descripcion}" class="px-6 py-4"></td>
                    <td th:text="${producto.precio}" class="px-6 py-4"></td>
                    <td>
                        <div class="flex space-x-3  items-center">
                            <a th:href="@{'/products/edit/' + ${producto.id}}"
                               class="bg-amber-500 text-white rounded px-1 py-1 font-bold min-w-16 text-center">Editar</a>
                            <a th:href="@{'/products/show/' + ${producto.id}}"
                               class="bg-blue-500 text-white rounded px-1 py-1 font-bold min-w-16 text-center">Mostrar</a>
                            <form th:action="@{'/destroy/' + ${producto.id}}" method="post" class="form-delete">
                                <button type="submit"
                                        class="bg-red-700 text-white rounded px-1 py-1 font-bold min-w-16 text-center cursor-pointer">
                                    Eliminar
                                </button>
                            </form>
                            <form th:action="@{'/products/add-favorito/' + ${producto.id}}" method="post">
                                <button type="submit"
                                        class="bg-yellow-500 text-white rounded px-1 py-1 font-bold min-w-16 text-center cursor-pointer">
                                    Agregar a favorito
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>

<th:block layout:fragment="scripts">
    <script th:if="${message}">
        const mensaje = `[[${message}]]`
        Swal.fire({
            toast: true,
            position: 'bottom-end',
            title: mensaje,
            icon: 'success',
            showConfirmButton: false,
            timer: 5000,
        });
    </script>

    <script>
        document.querySelectorAll('.form-delete').forEach(form => {
            form.addEventListener('submit', e => {
                e.preventDefault();
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'Esta acción no se puede deshacer',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar',
                }).then(result => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        });
    </script>
-
    <script>
        $(document).ready(function() {
            $('#productosTabla').DataTable({
            });
        });
    </script>
</th:block>
</html>
