<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="x-head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>Tec - Fix</title>
</head>

<body th:fragment="x-layout(content)" class="bg-gray-900">
<div th:replace="fragments/header :: x-header"></div>
<main class="max-w-7xl mx-auto p-8" th:insert="${content}"></main>
<div th:replace="fragments/footer :: x-footer"></div>
</body>

</html>